{{ template "layout" . }}

{{ define "title" }}Domain open ports{{ end }}

{{define "content"}}
<div class="text-gray-900 tracking-tight font-semibold text-3xl text-center">Ports</div>

<form action="" method="POST">
    <div class="grid grid-flow-col justify-stretch mt-6">
        <div class="mr-4">
            <label for="domain-field" class="block text-sm font-medium text-gray-700 mb-1.5 cursor-pointer">Domain name (without protocols)</label>
            <input value="{{ .Domain }}" required id="domain-field" class="border border-gray-300 py-2.5 px-3.5 h-11 transition-colors w-full rounded-lg border-gray-300 text-gray-900 text-base shadow-xs focus:border-primary-700 focus:ring-primary-500 disabled:border-gray-200 disabled:bg-gray-50 disabled:cursor-not-allowed" name="domain" type="text">
        </div>
        <div class="mr-4">
            <label for="ports-field" class="block text-sm font-medium text-gray-700 mb-1.5 cursor-pointer">Ports (with a comma)</label>
            <input value="{{ .Ports }}" required id="ports-field" class="border border-gray-300 py-2.5 px-3.5 h-11 transition-colors w-full rounded-lg border-gray-300 text-gray-900 text-base shadow-xs focus:border-primary-700 focus:ring-primary-500 disabled:border-gray-200 disabled:bg-gray-50 disabled:cursor-not-allowed" name="ports" type="text">
        </div>
    </div>
    <div class="mt-3">
        <input type="submit" value="Check" class="cursor-pointer ring ring-transparent font-semibold text-gray-600 bg-white border border-gray-300 hover:bg-gray-50 focus:ring-gray-300 shadow-xs px-3.5 py-2.5 text-sm rounded-lg h-10 inline-flex justify-center items-center gap-x-2 focus:outline-none focus:ring active:scale-95 transition-all disabled:cursor-not-allowed disabled:text-gray-400 disabled:bg-gray-200 hover:disabled:border-transparent disabled:active:scale-100">
    </div>
</form>

<div class="mt-6 border-t">
    <div class="text-md text-gray-800 rounded-lg pt-4 pl-8 pr-8 break-all overflow-auto">
        {{ if .Trace }}
            <ul class="list-disc">
                {{ range $key, $value := .Trace }}
                    <li>{{ $key }}: {{ $value }}</li>
                {{ end }}
            </ul>
        {{ end }}
    </div>
</div>
{{end}}