# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Jetbrains internal files.
.idea
# VSCode internal files.
.vscode

# Executable.
/server

# Go module sum file.
go.sum

# Deploy.
deploy.sh

# Air
/tmp
.air.toml

# Tailwind
tailwind.config.js
/node_modules
package.json
package-lock.json
/ui/static/css/input.css