{{ template "layout" . }}

{{ define "title" }}DNS records{{ end }}

{{define "content"}}
<div class="text-gray-900 tracking-tight font-semibold text-3xl text-center">Domain DNS records</div>

<div class="rounded-lg border-gray-200 border p-3 pt-0 mt-4">
    <p class="text-gray-600 mt-3 font-medium text-sm inline-flex items-center gap-x-2">Are you looking to check the DNS settings for a specific domain?</p>
    <p class="text-gray-600 mt-3 font-medium text-sm inline-flex items-center gap-x-2">Enter the domain name that you wish to query in the input field provided, choose DNS server and select the type of DNS record that you are interested in (such as A, MX, TXT, etc.). Once you click the "Check" button, our system will retrieve and display the current DNS data for your domain.</p>
    <p class="text-gray-600 mt-3 font-medium text-sm inline-flex items-center gap-x-2">This can be particularly useful for troubleshooting issues with email delivery, website accessibility, or other network-related problems.</p>
</div>

<form action="/dns" method="POST">
    <div class="grid grid-flow-col justify-stretch mt-6">
        <div class="mr-4">
            <label for="domain-field" class="block text-sm font-medium text-gray-700 mb-1.5 cursor-pointer">Domain name</label>
            <input value="{{ .Domain }}" required id="domain-field" class="border border-gray-300 py-2.5 px-3.5 h-11 transition-colors w-full rounded-lg border-gray-300 text-gray-900 text-base shadow-xs focus:border-primary-700 focus:ring-primary-500 disabled:border-gray-200 disabled:bg-gray-50 disabled:cursor-not-allowed" name="domain" type="text">
        </div>
        <div class="mr-4">
            <label for="dns-field" class="block text-sm font-medium text-gray-700 mb-1.5 cursor-pointer">DNS server</label>
            <select required id="dns-field" name="dns" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 h-11">
                {{ range $value, $key := .DnsServers }}
                <option {{ if eq $key $.Dns }}selected{{ end }} value="{{ $key }}">{{ $value }}</option>
                {{ end }}
            </select>
        </div>
        <div>
            <label for="type-field" class="block text-sm font-medium text-gray-700 mb-1.5 cursor-pointer">Type</label>
            <select required id="type-field" name="type" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 h-11">
                {{ range .Types }}
                    <option {{ if eq . $.Type }}selected{{ end }} value="{{ . }}">{{ . }}</option>
                {{ end }}
            </select>
        </div>
    </div>
    <div class="mt-3">
        <input type="submit" value="Check" class="cursor-pointer ring ring-transparent font-semibold text-gray-600 bg-white border border-gray-300 hover:bg-gray-50 focus:ring-gray-300 shadow-xs px-3.5 py-2.5 text-sm rounded-lg h-10 inline-flex justify-center items-center gap-x-2 focus:outline-none focus:ring active:scale-95 transition-all disabled:cursor-not-allowed disabled:text-gray-400 disabled:bg-gray-200 hover:disabled:border-transparent disabled:active:scale-100">
    </div>
</form>

<div class="mt-6 border-t">
    <div class="text-md text-gray-800 rounded-lg pt-4 pl-8 pr-8 break-all overflow-auto">
        {{ if .Trace }}
            <ul class="list-disc">
                {{ range .Trace }}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>
        {{ end }}
    </div>
</div>
{{end}}